body {
    background-color: #662483;
    color: #FFFFFF;
    font-size: 2em;
    text-align: center;
}

body a {
    color: inherit; 
}

.logo {
    text-align: center;
    margin-top: 50px;
}

ul.icons li {
    display: inline;
    padding-left: 15px;
}